{% extends "base.html" %} {% block title %} Privacy Policy 
{% endblock title%} {%block body %}
<div class="container">
  <div class="row">
    <div class="col-lg-1 col-md-1"></div>
    <div class="col-lg-10 col-md-10 col-sm-12 col-12">
      <div class="">
        <h2 class="text-center text-dark my-4 fw-bold term-font">Privacy Policy</h3>
        <h5 class="text-dark text-justify term-font">
          <strong><i class="fa-solid fa-arrow-right-long"></i> Information We Collect:</strong> <br /><br />

        We collect personal information such as name, email, phone number, and payment details when you register, make a purchase, or contact us.
        </h5>

        <h5 class="text-dark fw-600 term-font mt-3">
          <strong class="fw-bold"><i class="fa-solid fa-arrow-right-long"></i> How We Use Your Information</strong>
          <br /><br />
        <ul>
        <li>  To process orders and transactions </li>
        <li>To improve customer service and website experience</li>
        <li>To send promotional emails (you may opt out at any time)</li>
        <li>To comply with legal obligations</li>
        </ul>
        </h5>
        <h5 class="text-dark fw-600 term-font mt-3">
          <strong class="fw-bold"><i class="fa-solid fa-arrow-right-long"></i> Sharing Your Information</strong>
          <br /><br />
         We do not sell, trade, or rent personal information. We may share data with service providers for order fulfillment, payment processing, and marketing purposes.
        </h5>
        <h5 class="text-dark fw-600 term-font mt-3">
          <strong class="fw-bold"><i class="fa-solid fa-arrow-right-long"></i> Cookies and Tracking</strong>
          <br /><br />
        We use cookies and similar tracking technologies to enhance user experience and analyze website traffic. You can manage cookie preferences in your browser settings.
        </h5>
        <h5 class="text-dark fw-600 term-font mt-3">
          <strong class="fw-bold"><i class="fa-solid fa-arrow-right-long"></i> Security Measures</strong>
          <br /><br />
         We implement security measures to protect your data. However, no method of transmission over the internet is 100% secure.


        </h5>

        <h5 class="text-dark fw-600 term-font mt-3">
        <strong><i class="fa-solid fa-arrow-right-long"></i> For any questions, please contact us at:</strong><br><br>
        <span class="fw-bold">Email:</span><a href="mailto:aryansahuosvn2006@gmail.com" class="text-primary"> aryansahuosvn2006@gmail.com</a><br>
        <span class="fw-bold">Phone:</span><a href="tel:7081532300" class="text-primary"> 7081532300</a>
        </h5>

      </div>
    </div>
    <div class="col-lg-1 col-md-1"></div>
  </div>
</div>
<style>
  .term-font {
    font-family: "bootstrap-icons" !important;
  }
</style>
{% endblock body %}
