{% extends "base.html" %} {% block title %} Term and condition 
{% endblock title%} {%block body %}
<div class="container">
  <div class="row">
    <div class="col-lg-1 col-md-1"></div>
    <div class="col-lg-10 col-md-10 col-sm-12 col-12">
      <div class="">
        <h2 class="text-center text-dark my-4 fw-bold term-font">Terms and Conditions</h2>
        <h5 class="text-dark text-justify term-font">
          <strong>Last Updated:</strong> [March,2025] <br /><br />

          Welcome to HustleMart! These Terms and Conditions govern your use of
          our website, services, and purchases. By accessing or using our
          website, you agree to comply with these terms. If you do not agree,
          please do not use our website.
        </h5>

        <h5 class="text-dark fw-600 term-font mt-3">
          <strong class="fw-bold">1. General Terms</strong>
          <br /><br />
          <span class="fw-bold">Eligibility:</span> 
          You must be at least 18 years old to use our website and services.
         <br />
          <span class="fw-bold mt-4">Account Responsibility:</span> 
          You are responsible for maintaining the confidentiality of your account and
          password and for restricting access to your account. 
          <br />
          <span class="fw-bold mt-4">Modifications:</span> 
          HustleMart reserves the right to update these Terms and Conditions at any time without
          prior notice.
        </h5>
        <h5 class="text-dark fw-600 term-font mt-3">
          <strong class="fw-bold">2. Orders and Payments</strong>
          <br /><br />
          <span class="fw-bold">Product Availability:</span> 
          All products are subject to availability, and we reserve the right to limit or cancel quantities.
         <br />
          <span class="fw-bold mt-4">Pricing:</span> 
          Prices are subject to change without notice. We strive for accuracy but do not guarantee that all prices are correct. 
          <br />
          <span class="fw-bold mt-4">Payment Methods:</span> 
          We accept major credit/debit cards, PayPal, and other listed payment methods. <br>
          <span class="fw-bold mt-4">Order Cancellation:</span> 
         HustleMart reserves the right to cancel any order due to fraudulent activity or other issues.
        </h5>
        <h5 class="text-dark fw-600 term-font mt-3">
          <strong class="fw-bold">3. Shipping and Delivery</strong>
          <br /><br />
          <span class="fw-bold">Shipping Policy:</span> 
         Orders will be shipped as per our shipping policy, available on our website.
         <br />
          <span class="fw-bold mt-4">Delivery Time:</span> 
          Estimated delivery times vary by location and are not guaranteed.
          <br />
          <span class="fw-bold mt-4">Lost or Damaged Items:</span> 
         We are not liable for lost or damaged packages after shipment. Please contact the shipping carrier for claims. 
        </h5>
        <h5 class="text-dark fw-600 term-font mt-3">
          <strong class="fw-bold">4. Returns and Refunds</strong>
          <br /><br />
          <span class="fw-bold">Return Policy:</span> 
         Items may be returned within [X] days of receipt, subject to our return policy.
         <br />
          <span class="fw-bold mt-4">Refunds:</span> 
          Refunds will be processed after verifying the returned item’s condition
          <br />
          <span class="fw-bold mt-4">Non-Returnable Items:</span> 
        Certain items, such as perishable goods, digital downloads, and gift cards, are non-refundable.
        </h5>

        <h5 class="text-dark fw-600 term-font mt-3">
        <strong>5. For any questions, please contact us at:</strong><br><br>
        <span class="fw-bold">Email:</span><a href="mailto:aryansahuosvn2006@gmail.com" class="text-primary"> aryansahuosvn2006@gmail.com</a><br>
        <span class="fw-bold">Phone:</span><a href="tel:7081532300" class="text-primary"> 7081532300</a>
        </h5>

      </div>
    </div>
    <div class="col-lg-1 col-md-1"></div>
  </div>
</div>
<style>
  .term-font {
    font-family: "bootstrap-icons" !important;
  }
</style>
{% endblock body %}
